name: Python CI/CD

on:
  push:
    branches: ["master", "main"]
  pull_request:
    branches: ["master", "main"]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      - name: Run Tests with pytest and coverage
        run: |
          pytest --cov=src tests/

      - name: Build with PyInstaller
        run: |
          pyinstaller --onefile --windowed --name=ShopEasy run.py

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: ShopEasy-Executable
          path: dist/ShopEasy.exe
